@import "../../../styles.scss";

.cards-mul {
  margin-top: 20px;
  box-shadow: 0 3px 10px -6px #3498db;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .cards-mul {
    width: 23rem;
  }
}

.car-details {
  padding: 6px;
  display: flex;
}

.card-n {
  width: 30px;
  text-align: center;
}

.card-number {
  font-size: 16px;
  color: $dodger-blue;
}

.card-d {
  padding-left: 10px;
}

.chapter-heading {
  padding-left: 10px;
  font-size: 16px;
  display: block;
}

.timing {
  padding-left: 10px;
}

.m-r-8 {
  margin-right: 8px;
}

.card-active-a:active {
  background-color: $content-bg;
}

.card-active:hover {
  background-color: $content-bg;
  transform: scale(1.1);
  transition: transform 0.2s;
}
