<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item home-dark">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <i class="menu-icon mdi mdi-arrow-left-bold"></i>
        <span class="menu-title home">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <div class="text-wrapper">
          <div>
            <small class="designation text-muted">Paper 1</small>
          </div>
          <p class="main-heading">Finacial Report</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paper1" routerLinkActive="active">
        <div class="text-wrapper">
          <div>
            <small class="designation text-muted">Paper 2</small>
          </div>
          <p class="main-heading">Strategic Finicial Managment</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paper2" routerLinkActive="active">
        <div class="text-wrapper">
          <div>
            <small class="designation text-muted">Paper 3</small>
          </div>
          <p class="main-heading">Advance Auduting and Professional</p>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paper3" routerLinkActive="active">
        <div class="text-wrapper">
          <div>
            <small class="designation text-muted">Paper 4</small>
          </div>
          <p class="main-heading">Corporate and Economic Laws</p>
        </div>
      </a>
    </li>

    <li class="nav-item button-bottom">
      <div>
        <button type="button" class="btn btn-outline-secondary btn-c" style="">
          <i class="mdi mdi-android"></i>Android
        </button>
        <button type="button" class="btn btn-outline-secondary btn-c">
          <i class="mdi mdi-apple"></i>ios
        </button>
      </div>
    </li>
  </ul>
</nav>
