<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
>
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center back-color-1"
  >
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="../../../assets/images-ui/logo-2.jpg" alt="logo" />
      <span>LearnCab</span>
    </a>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span
        class="mdi mdi-menu color-1 d-none d-lg-inline-block d-xl-inline-block"
      ></span>
      <span class="mdi mdi-menu color-2 d-xl-none d-lg-none"></span>
    </button>
  </div>
  <div
    style="width: 150px !important;"
    class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center d-xl-none d-lg-none"
  >
    <div
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
    >
      <span class="color-2 d-xl-none d-lg-none"
        ><img
          src="../../../assets/images-ui/statistics.svg"
          width="20px"
          alt=""
        />
        <small style="margin-left: 8px;">CA Finals</small></span
      >
    </div>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
      <li class="nav-item">
        <div class="has-search">
          <img
            class="fa fa-search form-control-feedback"
            width="12px"
            src="../../../assets/images-ui/magnifying-glass.svg"
          />
          <input
            style="width: 20rem;"
            type="search"
            class="form-control"
            placeholder="Search for Pappers, Chapters, Leactures"
            aria-label="Username"
            aria-describedby="colored-addon1"
          />
        </div>
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <li
        class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block m-l m-0"
      >
        <a
          class="nav-link count-indicator dropdown-toggle m-r-l-4"
          id="messageDropdown"
        >
          <i class="mdi mdi-wallet-membership color-1"></i
          ><small class="color-1">Get Membership</small>
        </a>
      </li>
      <li
        class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block m-l m-r m-0"
      >
        <a
          class="nav-link count-indicator dropdown-toggle m-r-l-4"
          id="messageDropdown"
        >
          <i class="mdi mdi-cart-outline color-1"> </i
          ><small class="color-1">Upgrade</small>
        </a>
      </li>
      <li class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block">
        <a
          class="nav-link count-indicator dropdown-toggle"
          id="notificationDropdown"
        >
          <i class="mdi mdi mdi-bell color-1"></i>
          <span class="count">4</span>
        </a>
      </li>
      <li class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown">
          <img
            class="img-xs rounded-circle"
            src="assets/images/faces/face1.jpg"
            alt="Profile image"
          />
        </a>
      </li>
    </ul>
    <div
      class="profile-mobile navbar-toggler navbar-toggler-right d-xl-none d-lg-none align-self-center"
    >
      <img
        class="img-ss rounded-circle"
        src="assets/images/faces/face1.jpg"
        alt="Profile image"
        (click)="toggleOffcanvas()"
      />
    </div>
  </div>
  <br />
  <div
    class="navbar-brand-wrapper d-flex justify-content-center d-md-none d-xl-none d-lg-none"
    style="margin: 0 auto !important; width: auto !important;"
  >
    <div class="has-search">
      <img
        class="fa fa-search form-control-feedback"
        width="12px"
        src="../../../assets/images-ui/magnifying-glass.svg"
      />
      <input
        style="width: 17rem;"
        type="search"
        class="form-control"
        placeholder="Search for Pappers, Chapters, Leactures"
        aria-label="Username"
        aria-describedby="colored-addon1"
      />
    </div>
  </div>
</nav>
