/* Navbar */

@import "../../../styles";
/* Navbar */

@media only screen and (min-width: 769px) {
  .navbar {
    background: $white;
    .navbar-brand-wrapper {
      background-color: $sidebar-dark-menu-icon-color;
    }
  }
}

@media only screen and (min-width: 320px) and(max-width:768px) {
  .navbar {
    background: $navbar-light-color;
  }
}

.color-1 {
  color: $black;
}

.color-2 {
  color: $white;
}

.m-l {
  border-left: 1px solid $text-muted;
}

.m-r {
  border-right: 1px solid $text-muted;
}

.m-t-4 {
  margin-top: 4px;
}

.m-r-l-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.m-0 {
  margin: 0 !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 20px;
  margin: 10px;
  height: 12px;
  padding: 0px;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#UserDropdown {
  color: $text-muted;
}

.navbar {
  font-family: $type-2;
  transition: background $action-transition-duration
    $action-transition-timing-function;
  -webkit-transition: background $action-transition-duration
    $action-transition-timing-function;
  -moz-transition: background $action-transition-duration
    $action-transition-timing-function;
  -ms-transition: background $action-transition-duration
    $action-transition-timing-function;
  .navbar-brand-wrapper {
    transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -moz-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    -ms-transition: width $action-transition-duration
        $action-transition-timing-function,
      background $action-transition-duration $action-transition-timing-function;
    width: $sidebar-width-lg;
    height: $navbar-height;
    .navbar-brand {
      color: $white;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 0;
      padding: 0.25rem 0;
      @include display-flex;
      &:active,
      &:focus,
      &:hover {
        color: lighten(color(gray-dark), 10%);
      }
      img {
        width: 40px;
        max-width: 100%;
        height: 28px;
        margin: auto;
        vertical-align: middle;
      }

      span {
        color: $white;
        font-size: 14px !important;
        margin-top: 0.01rem;
      }
    }
    .brand-logo-mini {
      display: none;
      img {
        width: calc(#{$sidebar-width-icon} - 50px);
        max-width: 100%;
        height: 28px;
        margin: auto;
      }
    }
  }
  .navbar-menu-wrapper {
    transition: width $action-transition-duration
      $action-transition-timing-function;
    -webkit-transition: width $action-transition-duration
      $action-transition-timing-function;
    -moz-transition: width $action-transition-duration
      $action-transition-timing-function;
    -ms-transition: width $action-transition-duration
      $action-transition-timing-function;
    color: $white;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - #{$sidebar-width-lg});
    height: $navbar-height;
    border-bottom: 1px solid #c7c4c485;
    @media (max-width: 991px) {
      width: auto;
    }
    .navbar-toggler {
      border: 0;
      color: inherit;

      &:not(.navbar-toggler-right) {
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
    .navbar-text {
      font-size: $default-font-size;
    }
    .navbar-nav {
      flex-direction: row;
      align-items: center;
      .nav-item {
        margin-left: 1rem;
        margin-right: 1rem;
        .nav-link {
          color: inherit;
          font-size: $navbar-font-size;
          vertical-align: middle;
          @media (max-width: 767px) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
          i {
            font-size: $navbar-icon-font-size;
            vertical-align: middle;
          }
          .profile-text {
            margin-right: 15px;
            .rtl & {
              margin-right: 0;
              margin-left: 15px;
            }
          }
          &.nav-btn {
            .btn {
              background: rgba($white, 0.1);
              padding: 0.75rem 1rem;
              color: $white;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &.navbar-nav-right {
        @media (min-width: 992px) {
          margin-left: auto;
          .dropdown-menu-left {
            right: 0;
            left: auto;
          }
          .dropdown-menu-right {
            right: auto;
            left: 0;
          }
        }
      }
      &.header-links {
        height: $navbar-height;
        padding-left: 2%;
        .nav-item {
          margin: 0;
          .nav-link {
            height: $navbar-height;
            font-size: $navbar-font-size;
            padding: 16px 25px;
            @include display-flex;
            @include align-items(center);
            i {
              margin-right: 10px;
              font-size: 21px;
              .rtl & {
                margin-right: 0;
                margin-left: 10px;
              }
            }
          }
          &.active {
            background: rgba($white, 0.13);
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    &.default-layout {
      flex-direction: row;
      .navbar-brand-wrapper {
        width: 75px;
        .brand-logo {
          display: none;
        }
        .brand-logo-mini {
          display: inline-block;
        }
      }
    }
  }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem;
  }
}

.back-color-1 {
  background-color: #0a203b !important;
}
